{{#if error}}
<p class="error">{{ error }}</p>
{{/if}}

<h2>Update your Profile</h2>


<form action="/profile/edit" method="POST">

{{#result}}

  <div class="first-name">
    <label for="first">First Name</label>
    <input type="text" name="first" required id="first" value="{{first}}"/>
  </div>

  <div class="last-name">
    <label for="last">Last Name</label>
    <input type="text" name="last" required id="last" value="{{last}}"/>
  </div>

  <div>
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" value="{{email}}"/>
  </div>

    <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password"/>
  </div>

  <div class="age">
    <label for="age">Age</label>
    <input type="number" name="age" id="age" value="{{age}}"/>
  </div>

  <div class="city">
    <label for="city">City</label>
    <input type="text" name="city" id="city" value="{{city}}"/>
  </div>

  <div>
    <label for="url">Homepage</label>
    <input type="text" name="url" id="url" value="{{url}}"/>
  </div>

{{/result}}

  <div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Update</button>
  </div>

</form>

<h3> <a href="/signatures">List</a> of all the good people, who signed the petition</h3>


<script src="/script.js"></script> 