
<h3>People from {{ city }} who supported us:</h3>

<ul class="listOfSignatures"> 
{{#result}}
    <li>{{ first }} {{ last }} {{ age }}
        {{#if url}}
        <a href="#">{{url}}</a>
        {{/if}}
    </li>
{{/result}}
</ul>
<h4><a href="/signatures">Back to all signers</a></h4>
    
