<h3>The list of people who supported us:</h3>

<ul class="listOfSignatures"> 

{{#signatures}}
    <li>{{ first }} {{ last }} {{ age }} <a href="/signatures/{{city}}">{{ city }}</a>
    {{#if url}}
        <a href="#">{{url}}</a>
    {{/if}}
    </li>
{{/signatures}}

</ul>

<h4> Go Back to <a href="/signed">your signature</a></h4>