<h3>The list of people who supported us:</h3>

<ul class="listOfSignatures"> 

{{#signatures}}
    <li class="list">
        {{ first }} {{ last }} 
        
        {{#if age}}
        | age: {{ age }}
        {{/if}}

        {{#if city}}
        | city: <a href="/signatures/{{city}}">{{ city }}</a>
        {{/if}}
    {{#if url}}
        | homepage: <a href="#">{{url}}</a>
    {{/if}}
    </li>
{{/signatures}}

</ul>

<h4> Go Back to <a href="/signed">your signature</a></h4>