<h3>The list of people who supported us:</h3>

<ul class="listOfSignatures"> 

{{#signatures}}
    <li>{{ first }} {{ last }} {{ age }} {{ city }} <a href="#">{{url}}</a></li>
{{/signatures}}

</ul>